$blue:#103b5a;
$grey:#F1F2F2;
$blue2:#033d5b;
$bluebutton:#0071B6;
$red:#C9262D;

@import "scss/font-awesome";




.navbar{
  min-height:100px;
  background-color:white;
  border-color:white;
  font-size:17pt;
  font-family:"Helvetica-Light";
  color:#4D4D4F;
  span{
    background-color:$blue2;
    padding:6px;
    color:white;
  margin-right:-35px;

  }

  .glyphicon{
    top:0px;
  }
  .dropdown-menu{
font-size:15pt;
min-width:0px;
padding:0px;
background-color:transparent;
border:0px;
  li>a{

background-color:$blue;
color:white;

  }
}
  .btn-default{
    width:100px;
font-size:15pt;
    padding:0px 0px 0px;
    border:1px solid #000;
    border-radius:0px;

&:hover{

  background-color:white;
}
  }
}
.navbar-right{
line-height:55px;
margin-top:20px;
  margin-right:50px;
}
.pauza{

  line-height:50px;
  position: relative;
display: block;
padding: 10px 15px;
padding-top: 15px;
padding-bottom: 15px;
color:$grey;
}
.news{
button{

  width:150px;
  border-radius:0px;
  font-family:Helvetica-Light;
  font-size:20pt;

  margin-top:50px;
}
p{
  padding-top:100px;
}
.box{

background-repeat:no-repeat;
background-size:100% 100%;
height: 255px;

&:hover{
.ramka{
  opacity:0.7;
}
}

}
.ramka{

background-color:$blue2;
opacity:0;
height:100%;
color:white;
font-family:Helvetica-Bold;
font-size:25px;


}

}
.topbar

{
 margin-top:-20px;
  min-height:45px;
  opacity:0.5;
  background-color:$blue;
  z-index:2;



}
.container{
  width:100%;
}
.bar{

}
.firms{

  z-index:3;
  position:relative;
  margin-top:-40px;
  img{


margin-right:20px;

  }
}
.head{
    height:194px;

margin: 80px 30px 0px;

}
.barhead{

background-color:white;
color: $blue2;
height:150px;

h1{
font-family:"Helvetica-Bold";
margin-top:50px;
  font-size:60px;
  text-align:center;
}

}

.banner{

margin-top:120px;
background-image:url("images/banner.png");
height:705px;
width:100%;
font-family:"Helvetica-Bold";
background-size:100% 100%;

h1{
margin-top:100px;
margin-left:80px;
color:white;
  font-size:95pt;


}
h2{
  color:$blue;
  font-size:60pt;
  margin-left:80px;
}



}
.navbar-nav{



li{

  a{

line-height:50px;

  }
}


}
.kolumna{

text-align:center;


  background-color:$grey;
img{

  width:100%;
}
h4{

  font-family:"Helvetica-Bold";
font-size:37px;
  color:$blue2;
}
h5{
  font-size:17px;
  font-family:"Helvetica-Light";

color:#000;
}
  &:hover{
background-color:$blue2;
h4{
  color:white;
}
h5{
  color:white;
}

  }
}
.dealer{

margin-top:20px;
height:400px;
background-color:$blue2;
text-align:center;
  color:white;
i{

    padding-top:100px;
}
h1{


font-size:60px;
font-family:Helvetica-Bold;



}

}
.butt{
  width:250px;
height:50px;
font-family:Helvetica-Light;
color:white;
border-radius:0px;
background-color:$red;
}
.dostawca{


margin-right:5%;
margin-left:5%;
  .col-lg-6 col-xs-6 col-md-6 col-sm-6{

  padding:10px 10px 10px;
  }
.input-group{

  width:100%;
    margin-bottom:10px;


}




}
input{

  height:50px;

}
.szukaj{

  background-color:#F8F8F9;
}
.szuk{

margin-left:35%;
margin-right:35%;

}
.kontakt{
margin-left:5%;
margin-right:5%;
butt{
  width:100%;
}
h4{

  font-size:27px;
  font-family:Helvetica-Bold;
}
h5{

  font-size:17px;
  font-family:Helvetica;
}
  h6{

    font-family:Helvetica-Bold;
  font-size:17px;
  }
  p{
    font-family:Helvetica-Light;
      font-size:17px;
  }



}
footer{

padding-top:40px;
background-color:$blue2;
min-height:345px;
font-family:Helvetica-Light;
font-size:11pt;
color:white;
.btn-default{

  background-color:$bluebutton;
  color:white;
  border:0px;
  font-family:Helvetica-Bold;
  font-size:17pt;
  border-radius:0px;
  padding:15px 25px;
}
h5{
text-align:center;
  font-family:Helvetica;
  font-size:11pt;
}
.footer{

  margin-top:30px;
  margin-bottom:20px;
}
.form-control{

  background-color:transparent;
  color:white;
  font-family:Helvetica-Light;
  font-size:14pt;
width:100%;
height:60px;
}
}
@font-face {

font-family: "Helvetica-Light";

src:url("fonts/Helvetica-Light.ttf");

}
@font-face {

font-family: "Helvetica-Bold";

src:url("fonts/Helvetica-Bold.ttf");

}
@font-face {

font-family: "Helvetica";

src:url("fonts/Helvetica.ttf");

}
